<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /webpanel/
    
    # Protect includes
    RewriteRule ^includes/ - [F,L]
    
    # Enable HTTPS (recommended)
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>